/* //global style  */
* {
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
body {
  margin: 0;
  background: whitesmoke;
}
a {
  text-decoration: none;
  color: #333;
}
/* nav style */
nav {
  padding: 0 50px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  position: sticky;
  top: 0;
}
.nav_links {
  display: flex;
  gap: 20px;
}

/* card style */
.card,
.cart_card {
  background: #fff;
  border: 1px solid rgba(128, 128, 128, 0.517);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.card img,
.cart_card img {
  object-fit: cover;
  height: 150px;
  border-radius: 5px;
}

/* product wrapper */
.product_wrapper {
  padding: 20px;
  margin: 50px 0 10px 0;
  display: grid;
  /* grid-template-columns: repeat(5, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  align-items: center;
}

.btn {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #513282;
}
/* load more */
.load_more_div {
  padding-bottom: 50px;
  text-align: center;
}
.load_more_div span {
  color: #764abc;
  cursor: pointer;
}
/* loading  */
.loading {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* cart card  */
.cart_wrapper {
  padding: 20px;
  margin: 50px 0 10px 0;
  display: grid;
  grid-template-columns: repeat(1fr, minmax(500px, 1fr));
  gap: 20px;
}

.cart_card {
  display: flex;
  text-align: left;
}
.cart_card .cart_right {
  padding-left: 20px;
  flex: 1;
}
.cart_card img {
  width: 100px;
  object-fit: contain;
}
.btn_gp_cart {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
}
.btn_gp_cart button {
  padding: 7px 50px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  outline: 1px solid gray;
}
.cart_title {
  font-size: 25px;
}
/* scroll bar  */
@media screen and (max-width: 600px) {
  .cart_card {
    flex-direction: column;
  }
}
